# CREDENTIALS
set my_user		= ""
set my_pass		= ""

# IMAP
set my_name		= ""
set imap_user		= $my_user
set imap_pass		= $my_pass
set folder		= 
set spoolfile		= +INBOX
set mail_check		= 120

# SMTP
set realname 		= ""
set from 		= 
set use_from		= yes
set smtp_pass		= $my_pass
set smtp_url		= 
set ssl_force_tls	= yes

# EDITOR
set editor		= vim
set sort_aux 		= last-date-received
set sort		= reverse-threads

# FORWARD EMAIL WITH ATTACHEMENTS
set mime_forward
set mime_forward_rest=yes

#SIDEBAR
set sidebar_visible

