@define-color foreground #c0c1c2;
@define-color background #06080b;
@define-color cursor #c0c1c2;

@define-color color0 #06080b;
@define-color color1 #8A8387;
@define-color color2 #8C8A96;
@define-color color3 #9998A4;
@define-color color4 #A59BA2;
@define-color color5 #B0A9B1;
@define-color color6 #C9B6B5;
@define-color color7 #c0c1c2;
@define-color color8 #444548;
@define-color color9 #8A8387;
@define-color color10 #8C8A96;
@define-color color11 #9998A4;
@define-color color12 #A59BA2;
@define-color color13 #B0A9B1;
@define-color color14 #C9B6B5;
@define-color color15 #c0c1c2;
