@define-color foreground #bfbfc0;
@define-color background #000103;
@define-color cursor #bfbfc0;

@define-color color0 #000103;
@define-color color1 #046C90;
@define-color color2 #037197;
@define-color color3 #4F788D;
@define-color color4 #188AA6;
@define-color color5 #058BB2;
@define-color color6 #10A7CF;
@define-color color7 #bfbfc0;
@define-color color8 #3f4042;
@define-color color9 #046C90;
@define-color color10 #037197;
@define-color color11 #4F788D;
@define-color color12 #188AA6;
@define-color color13 #058BB2;
@define-color color14 #10A7CF;
@define-color color15 #bfbfc0;
