@define-color foreground #bfc0c0;
@define-color background #020406;
@define-color cursor #bfc0c0;

@define-color color0 #020406;
@define-color color1 #284F76;
@define-color color2 #525F61;
@define-color color3 #8A796B;
@define-color color4 #305988;
@define-color color5 #196497;
@define-color color6 #2961AB;
@define-color color7 #bfc0c0;
@define-color color8 #414244;
@define-color color9 #284F76;
@define-color color10 #525F61;
@define-color color11 #8A796B;
@define-color color12 #305988;
@define-color color13 #196497;
@define-color color14 #2961AB;
@define-color color15 #bfc0c0;
