/* -----------------------------------------------------
 * Import Pywal colors
 * ----------------------------------------------------- */
@import '../../../../../.cache/wal/colors-waybar.css';

@define-color backgroundlight @color5;
@define-color backgrounddark @color11;
@define-color workspacesbackground1 @color5;
@define-color workspacesbackground2 @color11;
@define-color bordercolor @color11;
@define-color textcolor1 #FFFFFF;
@define-color textcolor2 #FFFFFF;
@define-color textcolor3 #FFFFFF;
@define-color iconcolor #FFFFFF;

@import '../../ml4w/style.css';
