@import url("../../colors.css");
@import url("../../../ml4w/settings/dock-border.css");

window {
    padding: 10px; 
    background: radial-gradient(circle at 50% 250%, alpha(darker(@surface),0.9), alpha(@surface_dim,0.9)) padding-box,
        linear-gradient(@primary,@on_primary) border-box;
    border: 1px solid transparent;	
    opacity:0.8;
  	border-radius: 1em;
	margin:10px;
}

#box {
  	/* Define attributes of the box surrounding icons here */
  	padding: 8px;
}

#active {
	/* This is to underline the button representing the currently active window */
	border-bottom: solid 0px;
	border-color: @primary;
}

button, image {
	background: none;
	border-style: none;
	box-shadow: none;
	color: @primary;
}

button {
	padding: 4px;
	margin-left: 4px;
	margin-right: 4px;
	color: @primary;
	font-size: 12px
}

button:hover {
	background-color: @primary_container;
	border-radius: 10px;
}

button:focus {
	box-shadow: none;
}
