[Desktop Entry]
Type=Application
Name=ML4W Settings App
Exec=HOME/.config/ml4w/apps/ML4W_Dotfiles_Settings-x86_64.AppImage
Icon=com.ml4w.dotfilessettings
Terminal=false
Categories=Utility