[Desktop Entry]
Type=Application
Name=ML4W Hyprland App
Exec=HOME/.config/ml4w/apps/ML4W_Hyprland_Settings-x86_64.AppImage
Icon=com.ml4w.hyprland.settings
Terminal=false
Categories=Utility