@import url('../../.cache/wal/colors-waybar.css');

* {
    all:unset;
    font-size: 14px;
    font-family: "Fira Sans", sans-serif;
    font-weight: normal;
}

.calendar {
    background: #222222;
    padding: 12px;
    margin:14px;
    border-radius: 12px;
    font-weight: bold;
    border: 3px solid @color11;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.8);
    padding:20px;
    min-width:320px;
}

calendar:selected {
    background-color:@color11;
    padding:0px;
}

.sidebar {
    background: #222222;
    padding: 12px;
    margin:14px;
    border-radius: 12px;
    font-weight: bold;
    border: 3px solid @color11;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.8);
    padding:20px;
}

.group {
    padding:16px;
    background-color: rgba(116, 116, 116, 0.3);
    border-radius: 10px;
}

.ml4wwelcomeicon {
    background:url("assets/ml4w-welcome.png");
    background-size:50px;
    background-repeat: no-repeat;
    background-position: top;
    padding: 40px 50px 20px 50px;
}

.ml4wsettingsicon {
    background:url("assets/ml4w-dotfiles-settings.png");
    background-size:50px;
    background-repeat: no-repeat;
    background-position: top;
    padding: 40px 50px 20px 50px;
}

.ml4whyprlandicon {
    background:url("assets/ml4w-hyprland-settings.png");
    background-size:50px;
    background-repeat: no-repeat;
    background-position: top;
    padding: 40px 50px 20px 50px;
}

.btnbar {
    border: 0px solid @color11;
    min-height:36px;
    border-radius: 10px 10px 10px 10px;
    min-width: 36px;
    margin:0px 4px 0px 4px;
    background-color:@color11;
    font-weight:bold;
}

.btnbariconstatusbar {
    background:url("assets/icons/image-loading-symbolic.svg");
    background-repeat:no-repeat;
    background-position:center;
    background-color: @color11;
    background-size:20px;    
    min-width:26px;
    min-height:26px;
    border: 1px solid @color11;
    border-radius: 5px 0px 0px 5px;
}

.btnbariconwallpaper {
    background:url("assets/icons/fileview-preview-symbolic.svg");
    background-repeat:no-repeat;
    background-position:center;
    background-color: @color11;
    background-size:20px;    
    min-width:26px;
    min-height:26px;
    border: 1px solid @color11;
    border-radius: 5px 0px 0px 5px;
}

.btnbariconwallpapereffects {
    background:url("assets/icons/xapp-prefs-preview-symbolic.svg");
    background-repeat:no-repeat;
    background-position:center;
    background-color: @color11;    
    min-width:26px;
    min-height:26px;
    border: 1px solid @color11;
    border-radius: 5px 0px 0px 5px;
}

.btnbar.lock {
    background:url("assets/icons/padlock2-symbolic.svg");
    background-repeat:no-repeat;
    background-position:center;
    background-color: @color11;    
}

.btnbar.logout {
    background:url("assets/icons/application-exit-symbolic.svg");
    background-repeat:no-repeat;
    background-position:center;
    background-color: @color11;    
}

.btnbar.restart {
    background:url("assets/icons/arrow-circular-top-right-symbolic.svg");
    background-repeat:no-repeat;
    background-position:center;
    background-color: @color11;    
}

.btnbar.suspend {
    background:url("assets/icons/media-playback-paused-symbolic.svg");
    background-repeat:no-repeat;
    background-position:center;
    background-color: @color11;    
}

.btnbar.exit {
    background:url("assets/icons/turn-off-symbolic.svg");
    background-repeat:no-repeat;
    background-position:center;
    background-color: @color11;    
}

.midbtn {
    background-color: @color11;
    font-size: 12px;
    padding:10px;
    border-radius: 20px;
}

.AudioSlider {
    background-color:@color11;
    border-radius:12px;
    margin-bottom:10px;
}

.AudioSlider contents {
    min-height: 20px;
    background-color:@color15;
    border-radius:12px;
}

.AudioSlider value {
    min-height: 10px;
    background-color: #222222;
}

.AudioSlider slider {
    min-height: 16px;
    min-width: 16px;
    background-color:@color11;
    border-radius:12px;
    border: 2px solid #ffffff;
}

.AudioSlider highlight {
    min-height:10px;
    background-color:@color11;
    border-radius:12px;
    outline-width:3px;
}

.AudioSlider fill {
    min-height:10px;
    background-color:@color11;
    border-radius:12px;
    padding: 5px;
}