/* -----------------------------------------------------
 * Import Matugen Colors
 * ----------------------------------------------------- */
@import '../../../../../.config/waybar/colors.css';

@import '../style.css';