:root {
  /* 🌈 Base 16 Color Variables */
  --color0: #0f1417;
  --color1: #2c3135;
  --color2: #c1c7ce;
  --color3: #b6c9d8;
  --color4: #dfe3e7;
  --color5: #ffb4ab;
  --color6: #004c6b;
  --color7: #dfe3e7;
  --color8: #c6e7ff;
  --color9: #0f1417;
  --color10: #00344b;
  --color11: #21333e;
  --color12: #c6e7ff;
  --color13: #91cef5;
  --color14: #1c2024;
  --color15: #dfe3e7;
  --color16: #690005;
  --color17: #262b2e;
  --color18: #91cef5;
  --color19: #4a4263;
  --color20: #ccc1e9;
  --color21: #332c4c;
  --color22: #313539;
  --color23: #181c1f;
  --color24: #0f1417;
  --color13-r: 145;
  --color13-g: 206;
  --color13-b: 245;
  --color0-r: 15;
  --color0-g: 20;
  --color0-b: 23;
  --color2-r: 193;
  --color2-g: 199;
  --color2-b: 206;
  --color5-r: 255;
  --color5-g: 180;
  --color5-b: 171;
  --color6-r: 0;
  --color6-g: 76;
  --color6-b: 107;
  --color18-r: 145;
  --color18-g: 206;
  --color18-b: 245;
}
